@using Core.Entities;
@model IReadOnlyList<ProductInfo>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Shop Now...</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Image
            </th>
            <th>
               Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <img style="width:100px" src=@item.PictureUrl>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @* <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
            </tr>
        }
    </tbody>
</table>
